/*
* @Author: Tlekbai Ali
* @Date:   2019-07-12 17:09:00
* @Last Modified by:   Tlekbai Ali
* @Last Modified time: 2019-07-12 17:20:15
*/

html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block}audio:not([controls]){display:none;height:0}progress{vertical-align:baseline}[hidden],template{display:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit;font-weight:bolder}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}svg:not(:root){overflow:hidden}code,kbd,pre,samp{font:1em monospace,monospace}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}button,input,select,textarea{font-style:normal;font-variant:normal;font-weight:400;font-family:inherit;margin:0}optgroup{font-weight:700}button,input{overflow:visible}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-input-placeholder{color:inherit;opacity:.54}::-webkit-file-upload-button{-webkit-appearance:button;font-style:normal;font-variant:normal;font-weight:400;font-family:inherit}
      /* IBM PLEX MONO */
/* cyrillic-ext */
@font-face {
  font-display: optional;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 300;
  src: local('IBM Plex Mono Light'), local('IBMPlexMono-Light'),
    url(/assets/fonts/IBMPlexMono-light-cyrillic-ext.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-display: optional;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 300;
  src: local('IBM Plex Mono Light'), local('IBMPlexMono-Light'),
    url(/assets/fonts/IBMPlexMono-light-cyrillic.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-display: optional;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 300;
  src: local('IBM Plex Mono Light'), local('IBMPlexMono-Light'),
    url(/assets/fonts/IBMPlexMono-light-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-display: optional;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 300;
  src: local('IBM Plex Mono Light'), local('IBMPlexMono-Light'),
    url(/assets/fonts/IBMPlexMono-light-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-display: optional;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Mono'), local('IBMPlexMono'),
    url(/assets/fonts/IBMPlexMono-regular-cyrillic-ext.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-display: optional;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Mono'), local('IBMPlexMono'),
    url(/assets/fonts/IBMPlexMono-regular-cyrillic.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-display: optional;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Mono'), local('IBMPlexMono'),
    url(/assets/fonts/IBMPlexMono-regular-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-display: optional;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Mono'), local('IBMPlexMono'),
    url(/assets/fonts/IBMPlexMono-regular-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-display: optional;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 500;
  src: local('IBM Plex Mono Medium'), local('IBMPlexMono-Medium'),
    url(/assets/fonts/IBMPlexMono-text-cyrillic-ext.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-display: optional;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 500;
  src: local('IBM Plex Mono Medium'), local('IBMPlexMono-Medium'),
    url(/assets/fonts/IBMPlexMono-text-cyrillic.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-display: optional;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 500;
  src: local('IBM Plex Mono Medium'), local('IBMPlexMono-Medium'),
    url(/assets/fonts/IBMPlexMono-text-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-display: optional;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 500;
  src: local('IBM Plex Mono Medium'), local('IBMPlexMono-Medium'),
    url(/assets/fonts/IBMPlexMono-text-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* IBM PLEX SANS */
/* cyrillic-ext */
@font-face {
  font-display: optional;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 300;
  src: local('IBM Plex Sans Light'), local('IBMPlexSans-Light'),
    url(/assets/fonts/IBMPlexSans-light-cyrillic-ext.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-display: optional;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 300;
  src: local('IBM Plex Sans Light'), local('IBMPlexSans-Light'),
    url(/assets/fonts/IBMPlexSans-light-cyrillic.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-display: optional;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 300;
  src: local('IBM Plex Sans Light'), local('IBMPlexSans-Light'),
    url(/assets/fonts/IBMPlexSans-light-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-display: optional;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 300;
  src: local('IBM Plex Sans Light'), local('IBMPlexSans-Light'),
    url(/assets/fonts/IBMPlexSans-light-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-display: optional;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  src: local('IBM Plex Sans Medium'), local('IBMPlexSans-Medium'),
    url(/assets/fonts/IBMPlexSans-text-cyrillic-ext.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-display: optional;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  src: local('IBM Plex Sans Medium'), local('IBMPlexSans-Medium'),
    url(/assets/fonts/IBMPlexSans-text-cyrillic.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-display: optional;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  src: local('IBM Plex Sans Medium'), local('IBMPlexSans-Medium'),
    url(/assets/fonts/IBMPlexSans-text-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-display: optional;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  src: local('IBM Plex Sans Medium'), local('IBMPlexSans-Medium'),
    url(/assets/fonts/IBMPlexSans-text-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

html {
  background-color: hsl(0, 0%, 16%);
  color: hsl(0, 0%, 80%);
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  hyphens: auto;
}

.trame {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0.1;
  background: center / cover url(../assets/img/01-trame.svg);
}

.logo {
  width: 60px;
  height: 60px;
  background: center / cover url(../assets/img/logo.png);
  position: absolute;
  top: 30px;
  left: 30px;
}

.page-container {
  padding: 125px 175px 150px 175px;
  display: flex;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  position: relative;
}

.left {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-left: 50px;
}

.title {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 4rem;
  font-weight: 300;
}

.subtitle {
  margin-bottom: 60px;
  color: hsl(0, 0%, 22%);
}

.welcome {
  margin-bottom: 60px;
}

.text {
  font-size: 1.25rem;
  line-height: 1.5;
  color: hsl(0, 0%, 60%);
  padding-right: 100px;
}

button {
  border-radius: 2px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.7rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 15px;
  font-weight: 300;
  border: none;
  width: 225px;
  color: hsl(0, 0%, 8%);
  opacity: 0.5;
}

.pointer {
  cursor: pointer;
}

.o100 {
  opacity: 1;
}

.or {
  margin: 20px 0;
  font-family: 'IBM Plex Mono', monospace;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.bgPurple {
  color: white;
  background-color: hsl(260, 100%, 70%);
}

.bgGrey2 {
  background-color: hsl(0, 0%, 80%);
  transition: background-color 0.2s ease-in-out;
}

.hoverWhite:last-child:hover {
  background-color: white;
}

.contact {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.8rem;
  display: flex;
}

a,
button {
  text-decoration: none;
}

.contact a {
  color: hsl(260, 100%, 70%);
  padding-bottom: 4px;
  border-bottom: solid 1px hsl(260, 100%, 70%);
  margin-left: 5px;
}

.arrow {
  margin-right: 2px;
  font-family: 'IBM Plex Sans', sans-serif;
}

@media (max-width: 1300px) {
  .page-container {
    padding: 100px 150px 125px 150px;
  }

  .left {
    width: 70%;
  }

  .right {
    width: 30%;
  }
}

@media (max-width: 900px) {
  .page-container {
    flex-direction: column;
    padding: 100px;
  }

  .space-between {
    justify-content: space-between;
  }

  .title {
    font-size: 2.5rem;
  }

  .subtitle {
    margin-bottom: 40px;
  }

  .welcome {
    font-size: 2.5rem;
  }

  .left {
    width: 100%;
  }

  .right {
    margin-top: 100px;
    align-self: flex-end;
    margin-right: 50px;
  }

  .contact {
    padding-top: 50px;
  }
}

@media (max-width: 600px) {
  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    width: 30px;
    height: 30px;
  }

  .page-container {
    flex-direction: column;
    height: 100%;
    padding: 50px;
  }

  .left {
    text-align: center;
    padding-top: 0;
  }

  .right {
    align-items: center;
    padding-left: 0;
    margin-top: 50px;
    width: 100%;
    margin-right: 0;
  }

  .title {
    padding: 0 20px;
  }

  .welcome {
    margin-bottom: 30px;
    padding: 0 20px;
  }

  .text {
    font-size: 1rem;
    padding: 0;
  }

  .contact a {
    margin-top: 10px;
    margin-left: 0;
  }

  .contact {
    flex-direction: column;
    align-items: center;
  }
}